<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>YOU WILL NEED TO CHANGE THIS TO THE PATH YOU CLONED THIS TO</string>
    <key>Label</key>
    <string>com.oitsjustjose.lwjglpatcher.plist</string>
    <key>ProgramArguments</key>
    <array>
    <string>./run.sh</string>
    </array>
    <key>StandardErrorPath</key>
    <string>./stderr.log</string>
    <key>StandardOutPath</key>
    <string>./stdout.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>